<launch>
    <arg name="robot_namespace"         default="" />
    <arg name="handshake_topic_name"    default="/remote/bt_handshake" />
    <arg name="exhange_info_topic_name"    default="/remote/bt_info" />

    <group if="$(eval arg('robot_namespace') == '')" >
        <node pkg="behavior_tree_ros" name="behavior_tree_ros_intercom_node" type="behavior_tree_ros_intercom_node" output="screen" >
            <param name="handshake_topic_name"  type="string"   value="$(arg handshake_topic_name)" />
            <param name="exhange_info_topic_name"  type="string"   value="$(arg exhange_info_topic_name)" />
        </node>
    </group>

    <group if="$(eval arg('robot_namespace') != '')" >
        <node pkg="behavior_tree_ros" name="behavior_tree_ros_intercom_node" type="behavior_tree_ros_intercom_node" output="screen" ns="$(arg robot_namespace)">
            <param name="handshake_topic_name"  type="string"   value="$(arg handshake_topic_name)" />
            <param name="exhange_info_topic_name"  type="string"   value="$(arg exhange_info_topic_name)" />
        </node>
    </group>
</launch>