<launch>
    <arg name="robot_namespace"         default="" />
    <arg name="handshake_topic_name"    default="/remote/bt_intercom" />

    <group if="$(eval arg('robot_namespace') == '')" >
        <node pkg="behavior_tree_ros" name="handshake_signal_node" type="handshake_signal_node" output="screen" >
            <param name="handshake_topic_name"  type="string"   value="$(arg handshake_topic_name)" />
        </node>
    </group>

    <group if="$(eval arg('robot_namespace') != '')" >
        <node pkg="behavior_tree_ros" name="handshake_signal_node" type="handshake_signal_node" output="screen" ns="$(arg robot_namespace)">
            <param name="handshake_topic_name"  type="string"   value="$(arg handshake_topic_name)" />
        </node>
    </group>
</launch>